@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply p-0 m-0 box-border outline-none scroll-smooth font-Poppins  
}

body{
    @apply text-origamid-2  bg-origamid-4
}

.box_{
    @apply p-origamid-normal rounded-[1.25rem]  shadow shadow-origamid-1/20
}

.flex_ {
    @apply flex gap-origamid-normal
}

.flex > * {
    @apply flex-1
}

.container_{

    grid-template-columns:240px auto;
    @apply grid p-origamid-normal  gap-origamid-normal
    
}
.sidenav_ ul{
    @apply flex flex-col items-start 
}
.sidenav_ li{
    @apply flex items-center gap-origamid-s
}

.sidenav_ li span{
    @apply w-[2rem] h-[2rem] bg-origamid-4 flex items-center justify-center rounded-full  p-1 m-[0.25rem]
}




.sidenav_ li a {
    @apply flex-1 text-[1.125rem] text-origamid-2 py-origamid-s  px-0
}

.sidenav_ li:hover span { 
    @apply bg-origamid-3 transition-all cursor-pointer
}

.daterange_{
    grid-template-columns: 1fr 1fr ;
    @apply grid gap-origamid-normal
}

.resumo_{

    @apply text-[1.5rem] font-semibold

}

.resumo_ h2{

    @apply text-[1.5rem] mb-origamid-normal font-bold text-origamid-1 
}

.venda{
    display: grid; 
    grid-template-columns: auto auto 1fr;
    @apply gap-origamid-normal mb-origamid-s items-center bg-origamid-3
}

.venda div:last-child{
    @apply justify-self-end
}

.venda a{
  @apply no-underline text-inherit
}



@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

 .loading_animation_{
    animation: spin 1s infinite
 }


 /* small screens */

  @media (max-width: 1000px){

    .resumo_{
        flex-direction: column;
    }

    .daterange_{
        grid-template-columns: 1fr;
    }

    .daterange_ *:last-child {
        grid-row: 1;
    }

  }  
  
  @media (max-width: 700px){

   .container_{
    grid-template-columns: 1fr;
   }

   .flex_{
    flex-direction: column;
   }

   .sidenav_ ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

   .sidenav_ li a{
    font-size: 0.875rem;
   }

   .venda {
    grid-template-columns: 1fr;
   }

   .venda div:last-child{
    justify-self: start;
   }

   .sidenav_ li span img{
    @apply w-[30px] h-[30px]  bg-origamid-4 flex items-center justify-center rounded-full  p-1 
}

  }